{"devcoin": {"rpcserver": "127.0.0.1", "rpcport": "52332", "rpcpass": "random_rpc_pass", "rpcuser": "devcoinrpc", "minpayout":"100.0"}, "namecoin": {"rpcserver": "127.0.0.1", "rpcport": "8336", "rpcpass": "random_rpc_pass", "rpcuser": "namecoinrpc", "minpayout":"0.01"}, "i0coin": {"rpcserver": "127.0.0.1", "rpcport": "7332", "rpcpass": "random_rpc_pass", "rpcuser": "i0coinrpc", "minpayout":"1.0"}, "ixcoin": {"rpcserver": "127.0.0.1", "rpcport": "8338", "rpcpass": "random_rpc_pass", "rpcuser": "ixcoinrpc", "minpayout":"1.0"}}
