{"devcoin": {"rpcpass": "random_rpc_password", "rpcuser": "devcoinrpc", "rpcserver":"127.0.0.1", "rpcport":"52332"}, "namecoin": {"rpcpass":"random_rpc_password", "rpcuser":"namecoinrpc", "rpcserver":"127.0.0.1", "rpcport":"8336"}, "ixcoin": {"rpcpass": "random_rpc_password", "rpcuser": "ixcoinrpc", "rpcserver":"127.0.0.1", "rpcport":"8338"}, "i0coin": {"rpcpass":"random_rpc_password", "rpcuser":"i0coinrpc", "rpcserver":"127.0.0.1", "rpcport":"7332"}}
